version: '2'

services:
  lambda:
    container_name: lambda
    image: lambci/lambda:python3.6
    environment:
      - AWS_REGION=$AWS_DEFAULT_REGION
      - AWS_DEFAULT_REGION=$AWS_DEFAULT_REGION
      - AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
      - AWS_SESSION_TOKEN=$AWS_SESSION_TOKEN
      - AWS_SECURITY_TOKEN=$AWS_SECURITY_TOKEN
    volumes:
      - .:/var/task
